/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f8fa;
  color: #24292e;
}

header {
  background-color: #24292e;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* ================= PHOTO GALERY */

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

/* ================= PHOTO CARD */

.photo-card {
  margin: 10px;
  border: 1px solid #d1d5da;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  transition: transform 0.2s;
  max-width: 300px;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-card img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ================= BOTONERA */

button {
  background-color: #2c974b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #256029;
  transform: scale(1.05);
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

/* ================= CONTACT BANNER ================= */

.contact-banner {
  background-image: url('../public/images/banner-background.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  overflow: hidden;
}

/* ================= BANNER CONTENT ================= */

.banner-content {
  width: 35%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* ================= CONTACT FORM ================= */

.contact-banner {
  background-image: url('../public/images/banner-background.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 8px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input, 
.contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #d35400;
}

/* ================= MODAL ================= */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Responsiveness para dispositivos pequeños */
@media (max-width: 600px) {
  .close-button {
    font-size: 20px;
  }
}

/* ================= ABOUT ================= */
#about {
  padding: 40px 20px;
  text-align: center;
  background-color: #f6f8fa;
  width: 65%;
  color: #24292e;
  margin: 0 auto;
}

#about h2 {
  margin-bottom: 20px;
  color: #2c974b;
}

#about p {
  margin: 10px 0;
  line-height: 1.6;
}

#about p:first-of-type {
  font-weight: bold;
}

/* ================= FOOTER */

footer {
  background-color: #24292e;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
